* {
  margin: 0;
  padding: 0;
  font-family: Averta, sans-serif;
}
:root {
  --buttonBg: #4869e8;
  --productsGradientCol1: #0bccee;
  --productsGradientCol2: #ac1de1;
  --productsGrey: rgba(255, 255, 255, 0.5);
  --productsColHover: #1e1666;
  --ideasColCat: #ffb09f;
}
header {
  height: 90px;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
}
nav {
  width: 600px;
}
nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav li {
  height: 90px;
  width: 100px;
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 17px;
  line-height: 27px;
  font-weight: 600;
  color: white;
}
nav a {
  text-decoration: none;
  color: inherit;
}
header .contact {
  height: 40px;
  width: 290px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
  line-height: 20px;
  font-weight: 700;
  color: white;
}
.contact a {
  text-decoration: none;
  color: inherit;
}
button {
  background-color: var(--buttonBg);
  color: white;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 20px;
  font-weight: 700;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
/* button:hover{
    box-shadow: rgba(134, 86, 86, 0.753) 0px 0px 0px;
} */
#btnTouch {
  height: 40px;
  width: 146px;
}
main {
  height: 668px;
  width: 100%;
  background-image: url(images/revolutionizing-enterprises-digitally.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .content {
  height: 430px;
  width: 1140px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  color: white;
}
main h1 {
  width: 480px;
  height: 63px;
  font-size: 50px;
  line-height: 64px;
  font-weight: 700;
}
main p {
  height: 90px;
  width: 510px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  margin-top: 2.2em;
}
#btnTalk {
  height: 54px;
  width: 160px;
}
.trustedBy {
  width: 100%;
  height: 54px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.trustedBy .companies {
  width: 475px;
  height: 54px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.companies img {
  height: 25px;
  width: 70px;
}
.companies #logo {
  height: 50px;
  width: 50px;
}
.products {
  height: 675px;
  width: 100%;
  background: linear-gradient(
    to right,
    var(--productsGradientCol1) 0%,
    var(--productsGradientCol2) 100%
  ) !important;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.products .content {
  height: 500px;
  width: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.products p {
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;
  color: var(--productsGrey);
  text-transform: uppercase;
  letter-spacing: 2px;
}
.products h1 {
  width: 750px;
  height: 160px;
  text-align: center;
  font-size: 42px;
  line-height: 54px;
  font-weight: 700;
  color: white;
}
.productsRow {
  width: 100%;
  height: 250px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.productsRow a {
  height: inherit;
  text-decoration: none;
}
.productsCol {
  height: 100%;
  width: 262px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  transition: 0.3s;
  border-radius: 5px;
  color: white;
}
.productsCol h3 {
  width: 123px;
  height: 50px;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
}
.productsCol:hover {
  height: 100%;
  width: 262px;
  background-color: white;
  color: --productsColHover;
}
.productsCol .content {
  height: 200px;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.productsCol svg {
  fill: white;
}
section{
  width: 100%;
  height: 2800px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}
section .ideas{
  width: 80%;
  height: 1500px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.ideas h1{
  width: 750px;
  height: 106px;
  font-size: 42px;
  line-height: 54px;
  font-weight: 700;
  text-align: center;
}
.ideas .ideasRow{
  width: 100%;
  height: 616px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 6em;
  margin-bottom: 6em;
}
#img1{
  position: relative;
}
#img2{
  position: absolute;
  margin-left:4em;
}
#img3{
  height: 140px;
  width: 140px;
  position: absolute;
  margin-left:20em;
  /* margin-bottom: 10em; */
}
#img4{
  position: relative;
}
#img5{
  position: absolute;
  margin-left:30em;
}
#img6{
  height: 140px;
  width: 140px;
  position: absolute;
  margin-left:30em;
  /* margin-bottom: 10em; */
}
.ideasRow .ideasCol{
  height: 440px;
  width: 540px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.ideasCol img{
  height: 80px;
  width: 80px;
}
.ideasCol h1{
  text-align: left;
}
.ideasCol h3{
  font-size: 12px;
  line-height: 14px;
  font-weight: 600;
  letter-spacing: 2px;
  color: var(--ideasColCat);
  text-transform: capitalize;
}
.ideasCol p{
  height: 80px;
  width: 520px;
  font-size: 19px;
  line-height: 33px;
  font-weight: 400;
}
.btnCaseStudy{
  width: 205px;
  height: 56px;
}